/* General Styles for Footer */
.footer {
    background-color: #fbf6ef;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      text-align: center;
    }
  
    .footer-section {
      margin-bottom: 20px;
    }
  
    .footer-bottom {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .footer-section h3 {
      font-size: 1.1em;
    }
  
    .footer-section ul li {
      font-size: 0.9em;
    }
  
    .footer-bottom p {
      font-size: 0.8em;
    }
  }
  