/* LoginCard.css */
.card_image {
    width: 110px;
    height: auto;
  }
  
  .login-content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .card-margin {
    margin: 0.75rem;
  }
  
  /* Extra small screens (max-width: 480px) */
  @media (max-width: 480px) {
    .login-content {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .card-margin {
      margin: 0.5rem;
    }
  
    .xs\:grid-cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  
    .card_image {
      width: 75px;
    }
  }
  
  /* Small screens (min-width: 481px and max-width: 640px) */
  @media (min-width: 481px) and (max-width: 640px) {
    .login-content {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  
    .card-margin {
      margin: 0.5rem;
    }
  
    .card_image {
      width: 90px;
    }
  }
  
  /* Larger screens (min-width: 641px) */
  @media (min-width: 641px) {
    .card-margin {
      margin: 0.75rem;
    }
  
    .card_image {
      width: 110px;
    }
  }